<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Gradle Quickstart Service</display-name>

    <servlet>
        <servlet-name>Greeter</servlet-name>
        <servlet-class>org.rekdev.hello.service.GreeterServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Greeter_Jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.rekdev.hello.service.JerseyApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Greeter</servlet-name>
        <url-pattern>/greeter</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Greeter_Jersey</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    
</web-app>
